<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

  <title>Spring Framework Guru</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
        href="../../css/bootstrap.min.css" />

</head>
<body>

<div class="container">

  <p th:text="${data}" />

  <a class="btn btn-primary" href="/receive_order_search" role="button">receive_order_search</a>
  <a class="btn btn-primary" href="/master_goods" role="button">upload master_goods</a>


</div>

</body>
</html>